@import 'utilities'; /* Mit normalize.css */
@import 'elements';
@import 'queries';
@import 'globals';
@import 'layout';
@import 'navigation';
@import 'typographie';
@import 'components';

.header-title {
	color: white;
	display: flex;
	justify-content: center;
}

.marginTop {
	margin-top: 32px;
}
