.menuButton_number {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 2rem;
	gap: 0.4rem;
	button {
		background-color: var(--button-background-color);
		border-color: var(--button-background-color);
		&:hover {
			background-color: white;
		}
	}
}

.menuButton_start {
	display: flex;
	justify-content: center;
	button {
		width: 25vw;
		background-color: var(--button-background-color);
		border-color: var(--button-background-color);
		&:hover {
			background-color: white;
			text-transform: uppercase;
		}
	}
}

.menuButton_type {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	button {
		width: 25vw;
		background-color: var(--button-background-color);
		border-color: var(--button-background-color);
		&:hover {
			background-color: white;
		}
	}
}

.menuButton_level {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	button {
		width: 25vw;
		background-color: var(--button-background-color);
		border-color: var(--button-background-color);
		&:hover {
			background-color: white;
		}
	}
}

.menuButton_showCat {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	button {
		width: 25vw;
		background-color: var(--button-background-color);
		border-color: var(--button-background-color);
		&:hover {
			background-color: white;
		}
	}
}

.buttonStyle {
	width: 25vw;
	height: 45px;
	color: var(--button-color);
	border: 1px solid;
	border-color: var(--button-background-color);
	border-radius: var(--border-radius-s);
	background-color: var(--button-background-color);
	padding: 0.6em 1em 0.4em;
	font-weight: bold;
	box-shadow: var(--shadow-4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.showCategories {
	border-radius: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.categorieButton {
	width: 30%;
	margin: 5px;
}

.info-container {
	position: fixed;
	top: 50.2px;
	left: 0;
	border: 1px solid #000;
	padding: 8px;
	background: white;
	z-index: 0;
	max-width: 240px;
}

/* .random {
	background-color: var(--blue-9) !important;
	color: white !important;
}

.easy {
	background-color: var(--violet-6) !important;
}

.medium {
	background-color: var(--violet-12) !important;
}

.hard {
	background-color: var(--violet-1) !important;
}
 */
