.question {
	display: flex;
	justify-content: center;
	margin: 15rem 0 3.5rem 0;
	font-size: 2.4rem;
	font-family: var(--heading-font);
	color: var(--gray-9);
}

.answer_wrapper {
	background-color: whitesmoke;
	display: flex;
	margin: 2.4rem 2.4rem 3.4rem 2.4rem;
	justify-content: center;
}

.answers {
	margin: 1rem 1rem;
	width: 30vw;
}
/* 
.correct {
	background-color: green;
	animation: blink-animation 1s ease;
}

.incorrect {
	background-color: red;
	animation: blink-animation 1s ease;
}

@keyframes blink-animation {
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
} */

.info-container2 {
	position: fixed;
	top: 50.2px;
	right: 0;
	border: 1px solid #000;
	padding: 8px;
	background: white;
	z-index: 0;
	max-width: 240px;
}

.emojiHand {
	margin-left: 16px;
	font-size: xx-large;
}

.incorrectAnswer {
	color: white;
	background-color: red;
	&:hover {
		background-color: darkred;
		color: white;
	}
}
.correctAnswer {
	color: white;
	background-color: green;
	&:hover {
		background-color: darkgreen;
		color: white;
	}
}
